<!-- <h3>Welcome to P2P Library {{firstname}}</h3>

<a routerLink ="/listOfBooks">Availale Books</a><br><br>
<a routerLink="/uploadbook">Upload Book</a><br><br>
<a routerLink="/uploadedbooks">Uploaded Books</a><br><br>
<a routerLink="/requestsent">Request sent</a><br><br>
<a routerLink="/requestreceived">Request recieved</a>
 -->


<!------ Include the above in your HEAD tag ---------->


<br>
<h3 style="color: white;">Welcome to P2P Library {{firstname}}</h3><br>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-default">
				<div class="shape">
					<div class="shape-text">
						1							
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<a routerLink ="/listOfBooks">Available Books</a>
					</h3>
					<p>
						You can see list of available books to borrow here.
						<br>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-success">
				<div class="shape">
					<div class="shape-text">
						2							
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<a routerLink="/uploadbook">Upload Book</a>
					</h3>						
					<p>
						Upload a book you want to lend here.
						<br> 
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-radius offer-primary">
				<div class="shape">
					<div class="shape-text">
						3								
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<a routerLink="/uploadedbooks">Uploaded Books</a>
					</h3>						
					<p>
						See the list of uploaded books here.
						<br> 
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-info">
				<div class="shape">
					<div class="shape-text">
						4							
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<a routerLink="/borrowedbooks">Borrowed books</a>
					</h3>						
					<p>
						See the request you have sent to borrow books here.
						<br> 
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-warning">
				<div class="shape">
					<div class="shape-text">
						5						
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<a routerLink="/requestsent">Request sent</a>
					</h3>						
					<p>
						See the request you have sent to borrow books here.
						<br> 
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-radius offer-danger">
				<div class="shape">
					<div class="shape-text">
						6						
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<a routerLink="/requestreceived">Request recieved</a>
					</h3>						
					<p>
						See the request you have recieved for your uploaded books here.
						<br> 
					</p>
				</div>
			</div>
		</div>	
	</div>
</div>
